.navbar {
    background-color: white;
}

.jumbo-title {
    background-color: white;
    margin-top: 100px;
}

.jumbo-bio {
    background-color: #8d43ff;
}

.design-images {
    margin-bottom: 0 !important;
}