<!DOCTYPE html>
<html>

<head>
    <title>Page Title</title>
</head>
<header>
    <nav class="navbar navbar-toggleable-md navbar-dark">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <a class="navbar-brand text-muted  nav-links-1" href="#">Raymond James</a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav nav-links-1">
                <a class="nav-item nav-link text-muted active" href="#">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link text-muted active" href="Contact" routerLink="/Contact" routerLinkActive="active">Contact</a>
                <a class="nav-item nav-link text-muted" href="About" routerLink="/About" routerLinkActive="active">About</a>
            </div>
        </div>
    </nav>
</header>

<body>
    <div class="jumbotron jumbotron-fluid jumbo-title">
        <div class="container">
            <h1 class="display-3 text-center">Front-End Developer </h1>
            <p class="lead text-center">I design and code beautifully simple things, and I love what I do.</p>
        </div>
    </div>
    <div class="text-center design-images">
        <img src="assets/css-3.png" alt="Smiley face" height="100" width="100">
        <img src="assets/coding.png" alt="Smiley face" height="250" width="250">
        <img src="assets/html-5-logo.png" alt="Smiley face" height="100" width="100">
        <!-- <div>Icons made by <a href="https://www.flaticon.com/authors/dave-gandy" title="Dave Gandy">Dave Gandy</a> from <a href="https://www.flaticon.com/" 			    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> -->
        <!-- <div>Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" 			    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> -->
    </div>

    <div class="jumbotron jumbotron-fluid jumbo-bio">
        <div class="container bio-text">
            <h1 class="display-3 text-center">Hi, I’m Raymond. Nice to meet you.</h1>
            <p class="lead text-center">Since beginning my journey as a freelance designer nearly 5 years ago, I've done remote work for agencies, consulted for startups, and collaborated with talented people to create digital products for both business and consumer use. I'm quietly
                confident, naturally curious, and perpetually working on improving my chops one design problem at a time.</p>
        </div>
    </div>

    <div class="container text-center">
        <p class="recent-1"><b>My Recent Work</b></p>
        <p class="recent-2">Here are a few recent design projects. Want to see more?</p>
    </div>
    <div class="container m-5 container-1 row">
        <div class="col">
            <figure>
                <img src="https://placeimg.com/320/240/any" class="figure-img img-fluid rounded" />
                <figcaption>
                    <h1>My Projects</h1>
                    <a href="#" class="button">Visit Website</a>
                </figcaption>
            </figure>
        </div>
        <div class="col">
            <figure>
                <img src="https://placeimg.com/320/240/any" class="figure-img img-fluid rounded" />
                <figcaption>
                    <h1>My Projects</h1>
                    <a href="#" class="button">Visit Website</a>
                </figcaption>
            </figure>
        </div>
        <div class="col">
            <figure>
                <img src="https://placeimg.com/320/240/any" class="figure-img img-fluid rounded" />
                <figcaption>
                    <h1>My Projects</h1>
                    <a href="#" class="button">Visit Website</a>
                </figcaption>
            </figure>
        </div>
    </div>

    <div class="jumbotron jumbotron-fluid jumbo-project">
        <div class="container jumbo-project">
            <ul class="list-inline jumbo-project">
                <li class="list-inline-item  p-3">
                    <h1>Start a project</h1>
                </li>
                <li class="list-inline-item text-center p-5">Interested in working together? We should <br> queue up a chat. I’ll buy the coffee.</li>
                <li class="list-inline-item p-5 "><a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Let's do this</a></li>
            </ul>
        </div>
    </div>
</body>

</html>